
html,
body {
    margin: 0;
    height: 100%;
}
/*------------------------------HEADER-----------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 128px;
    font-weight: bold;
}

.header-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.header-content, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-img {
    height: auto;
    width: 30%;
    margin-top: 32px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.link-container {
    display: flex;
    gap: 16px;
    margin-right: 128px;
}

.content-img-container {
    display: flex;
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    max-width: 40%;
}

.sign-up {
    background-color: blue;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    margin-top: 10px;
    font-weight: bold;
}
/*------------------------------BODY-----------------------------*/
.body {
    background-color: white;
}
.body-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 50px;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    border-radius: 10px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.body-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-txt {
    max-width: 150px;
    text-align: center;
    margin-bottom: 100px;
}
/*------------------------------QUOTE-----------------------------*/
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-txt {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 100px 100px 25px 100px;
    max-width: 60%;
}

.quote-author {
    display: flex; 
    align-self: flex-end;
    margin-right: 310px;
    margin-bottom: 100px;
}
/*------------------------------ACTION-----------------------------*/
.action {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    height: 150px;
    width: 1000px;
    border: 5px solid #3882F6;
    margin: 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

.action-title {
    color: white;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 5px;
}

.action-txt {
    color: lightgray;
}

.action-button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 5px 30px 5px 30px;
    font-size: 17px;
    border-radius: 7px;
}
/*------------------------------FOOTER-----------------------------*/
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
}

.copyright {
    color: white;
}